<% @comments.each do |comment| %>

<div class="card border-dark mb-3" style="max-width: 200px;">
  <div class="card-header"><center><strong><%=comment.user.first_name%></strong></center></div>
  <div class="card-body" style="height: 7rem;">
    <p class="card-text" style="width: 100%;"><%=comment.content%></p>
</div>
</div>

<% end %>
