<div class="my-form">
<%= form_for([@item, @comment]) do |f| %>
<div class="form-group my-title">
	<%= f.text_area :content, class: "form-control" %>
	<br/>
	<%= submit_tag "Update", class: "btn btn-primary"%>
</div>
<%end%>
</div>