
<center><h1>Bienvenue <%=current_user.first_name%> <%=current_user.last_name%> sur votre profil</h1></center>
<br><br><hr><br><br>
<h3 style="margin-left: 200px;">Votre email : <%=current_user.email%></h3>
<br><br><hr><br><br>
