<div class="jumbotron justify-content-center" style="background-color: light-grey; border-radius:5px" height= 400px;>
<h2 style="text-align: center;" >Contactez-nous ?</h2>
</div>
<div class="container-fluid w-80" style="background-color: #BCBABA ; border-radius: 10px;">

      <div class="row d-flex flex-wrap justify-content-between">
      
        <div class="col-md-9 col-sm-12 col-xs-12">
        
          <%= image_tag("cat1.jpg", alt: "Edit Entry",size:"100%", style: "border-radius: 15px")%>
        
        </div>
      
        <div class="col-md-3 col-sm-12 col-xs-12">
        
          <div class="row" style="margin:50px">
          
          
            <p style="color: antiquewhite">
            <ul>
            <h4>Contacter Notre Team :</h4>
            <li>©Jean-Baptiste DEMENET   Slack @Jean-Baptiste</li>
            <li>©Hugo CORDILLOT   Slack  @Hugo</li>
            <li>©Nazanin FARSHAD  Slack @Nazanin</li>
            <li>©Jean-Marc DARDY  Slack  @JM</li>
            <br>
            Mentor :
            <li>Anthony AMAR  Slack  @anthonyamar</li>
            </ul>
            </p>
          
          </div>
        
        </div>
      
      </div>
</div>