<br>
<br>
<br>
<br>
<br>

            <center>
                    <h2>Votre paiement a bien été effectué!</h2>
                    <br>
                    
                    <%= link_to "Retour a Nos Chats", items_path %>
                   
                    <br>
                    <br>
                    
                    <%= link_to "Retour a l'accueil", root_path %>
                    
            </center>
    </div>
</div>
